@model int

<div class="row form-group">
    <div class="col-6">
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-primary form-control">Modifier</a>
    </div>
    <div class="col-6">
        <a class="btn btn-success form-control" asp-action="Index">Annuler</a>
    </div>
</div>