@model int

<div class="btn-group" role="group">
    <a class="btn btn-info" asp-action="Details" asp-route-id="@Model"><i class="fas fa-list-ul"></i></a>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model"><i class="far fa-edit"></i></a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model"><i class="fas fa-trash-alt"></i></a>
</div>
