@model CatAndSubCatViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="form-group">
    <h4 class="text-danger text-center">Supprimer une Sous-catégorie</h4>
</div>

<br />
    @Html.HiddenFor(m => m.SubCategory.Id)

<div class="white-Background border">

    <div class="row">
        <div class="col-8 form-group">
            <div class="row">
                <div class="col-4">
                    <label asp-for="ListCategories" class="col-form-label text-dark h5"></label>
                </div>
                <div class="col-8">
                    <select id="ddlCategories" class="form-control" asp-for="SubCategory.CategoryId"
                            asp-items="@(new SelectList(Model.ListCategories,"Id", "Name"))" disabled>
                        <option>Please select one</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h6 class="text-center" style="color:#92C212"> Sous Catégorie </h6>
        </div>
    </div>

    <div class="row">
        <div class="col-8 form-group">
            <div class="row">
                <div class="col-4">
                    <label asp-for="SubCategory.Name" class="col-form-label text-dark h5"></label>
                </div>
                <div class="col-8">
                    <input asp-for="SubCategory.Name" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="divSubCategoriesList" class="text-center">

            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="row">
            <div class="col-8 offset-4">
                <partial name="_DetailsAndBackToListButtonsPartial" model="@Model.SubCategory.Id"/>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="row form-group">
            <div class="col-8 offset-4">
                <a class="btn btn-outline-info form-control" asp-action="Index">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function updateSubCategoriesList() {
            var selectedCategory = document.getElementById("ddlCategories").value;
            $list = $('#divSubCategoriesList');
            $.ajax({
                url: '/Admin/subCategories/GetSubCategories/' + selectedCategory,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append('<ul class="list-group">')
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>')
                    }
                    $list.append('</ul>');
                }
            });
        }

        $(document).ready(function () {
            updateSubCategoriesList();
        });

    </script>

}



