@model Category
@{
    ViewData["Title"] = "Create";
}

<br />
<div class="form-group">
    <h4 class="text-success text-center">Créer une nouvelle Catégorie</h4>
</div>

<br /><br />

<form asp-action="Create" method="post">
    <div class="white-Background border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="col-8 offset-4">
            <partial name="_CreateAndBackToListButtonsPartial" />
        </div>


    </div>

    <div class="row form-group">
        <div class="col-4">
            <a class="btn btn-outline-info form-control" asp-action="Index">Retour à la liste</a>
        </div>

    </div>
</form>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}


