@model Category
@{
    ViewData["Title"] = "Delete";
}


<br />
<div class="form-group">
    <h4 class="text-danger text-center">Supprimer une Catégorie </h4>
</div>

<br />
<br />

<form asp-action="Delete" method="post">
    <div class="white-Background border">
        @Html.HiddenFor(m => m.Id)
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="Name" class="form-control" readonly />
            </div>
        </div>
        <br />
        <partial name="_DeleteAndBackToListButtonsPartial" />

    </div>

    <div class="row form-group">
        <div class="col-12">
            <a class="btn btn-outline-info form-control" asp-action="Index">Retour à la liste</a>
        </div>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

